.section {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.title {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: rgba(32, 32, 32, 0.7);
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
}

.statList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgb(135, 72, 187);
}

.item:last-child {
  border-right: none;
}

.item:nth-child(odd) {
  background-color: rgb(172, 133, 209);
}

.label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
  color: rgba(44, 44, 44, 0.7);
}

.percentage {
  color: rgba(11, 11, 11, 0.7);
  font-size: 20px;
  font-weight: bold;
}
