.statistics {
    width: 600px;
    height: 400px;
    background-color: #fff;
}

.title {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #050505;
    text-align: center;
    margin-bottom: 50px;
}

.statList {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.item {
    display: flex;
    gap: 16px;
    width: 250px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(81, 91, 95);
    background-color: rgb(104, 173, 190);
}

.label {
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
}

.percentage {
    color: #fff;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 500;
}